cython==3.0.11
setuptools
pytest
pytest-asyncio
tox
coverage
flake8
flake8-pyproject
pydocstyle
sphinx_autobuild
pip
mypy
pyyaml
httpx
fastapi
pydantic==1.10.17
numpy
scipy
boto3
mypy_boto3_s3

-r requirements-ext.txt
