<!DOCTYPE html>
<html>
<head>
    <title>Github Navigator</title>
</head>
<body>
<h1>Github Navigator</h1>
<form method="get">
    <p>
        Search term: <input type="text" name="search_term" value="{{ search_term if search_term }}">
        Limit: <input type="text" name="limit" value="{{ limit }}">
        <input type="submit">
    </p>
</form>
<h2>Search results</h2>
{% if repositories|length == 0 %}
<small>No search results</small>
{% endif %}
{% for repository in repositories %} {{n}}
<p>
    <small>Search result # {{ loop.index }} from {{ repositories|length }}</small>
</p>
<p>
    Repository: <a href="{{ repository.url }}">{{ repository.name }}</a>
</p>
<p>
    Repository owner:
    <a href="{{ repository.owner.url }}"><img src="{{ repository.owner.avatar_url }}" alt="avatar" height="24" width="24"/></a>
    <a href="{{ repository.owner.url }}">{{ repository.owner.login }}</a>
</p>
<p>
    Created at: {{ repository.created_at }}
</p>
<p>
    LastCommit: <a href="{{ repository.latest_commit.url }}">{{ repository.latest_commit.sha }}</a> {{ repository.latest_commit['message'] }} {{ repository.latest_commit.author_name }}
</p>
<hr/>
{% endfor %}
</body>
</html>
